---
import { Button } from '@/components/ui/Button/Button';
import Layout from '@/layouts/Layout.astro';
import ButtonLink from '../components/ui/ButtonLink/ButtonLink.astro';
---

<Layout>
	<section class="container py-12 lg:py-24">
		<div class="grid grid-cols-12">
			<div class="col-span-full lg:col-span-8">
				<h1 class="mb-6 lg:mb-12 text-4xl lg:text-6xl text-bold text-center lg:text-left">Realisme, fineline & oldschool tattoos gezet door prijswindende artiesten.</h1>

				<div class="flex justify-center lg:justify-normal gap-4">
					<ButtonLink href="#" variant="outline">Bekijk tattoos</ButtonLink>
					<ButtonLink href="#">Maak een afspraak</ButtonLink>
				</div>
			</div>
		</div>
	</section>


	<section class="container">
		<h2 class="text-4xl">Klanten die je voor gingen</h2>
	</section>
</Layout>
